/*used Colors*/
$black: #181B33; //used
$grey: #F2F4FE; //used
$greylight: #eaeaea;
$greydark: #F1F3FE; //used
$white: #ffffff; 

$link: #181B33; 
/*used Colors*/

//Variables ColorS

$primary:#242B58; //used
$primaryLight: #2E3770; $primarylight: #2E3770; //used
$primaryDark:#353962; $primarydark: #353962; //usd

$secondary:#BC5017; //used
$secondaryLight: #BAD37E;  $secondarylight: #BAD37E; 
$secondaryDark: #5B6947; $secondarydark: #5B6947;

$tertiary: #C0B5F4 ; //used
$tertiaryLight: #6D6A95; $tertiarylight: #6D6A95; //used
$tertiaryLighter: #D9D7FF; $tertiarylighter: #D9D7FF; //used
$tertiarydark: #3F275D; $tertiarydark: #6D6A95; //sed

$quaternary:#93BB33;
$quaternaryLight: #5B6947; $quaternarylight: #5B6947;
//$quaternaryDark: #c1af00;

$text:#181B33; //used
$light-text:#ffffff;
$strong: #777776;
$dark-text: #232021;

$neutralDarker: #000000;
$neutrayDark: #3c3d3f;
$neutral: #3d3d3d;
$neutralLight: #919191;
$neutralLighter: #e9e9e9; 
$neutralLightest: #f4f4f4; 


/*Others Colors*/
$red: #ff2222; 
//$blue: #065fab; 
//$blueLight: #96bddb;
//$brown: #969696; 
//$green: #73c6a1; 
//$greenDark: #86a63e; 
//$greenLight: #95dabb;
//$orange: #f88600;
//$orangeDark: #ef4627;
//$orangeLight: #f8901e;
//$pink: #ffe1e3;
//$pinkLight: #fef5f5;
//$purple: #825a7f; 
//$yellow: #f4bf33;
//$yellowLight: #ffd66a;
