body.single-post {
	.interior-banner .title-page{
		width: 50%;
		max-width: 100%;
	}
	.title-page{
		width: 48%;
		@media (max-width: 991.98px){
			width: 100%;
		}
		h1{
			font-size: 45px !important;
			text-align: left !important;
			overflow-wrap: break-word;
			white-space: normal;
			word-break: break-word;
			line-height: 1.05;
		}
	}
}
@include mediaqueries(767max) {
	body.single-post {
		.interior-page .title-page, .sc-single-wrapper .title-page{
			text-align: center  !important;
		}	
	}
}
@include mediaqueries(576max) {
	.interior-page.single{
		.wp-block-spacer{
			height: 0 !important;
		}
	}
}