.featured-news{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    right: 16%;
    background-image: url('../images/cope-health.svg');
    height: 443px;
    width: 320px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    @media (max-width: 767.98px){
      top: 130px;
      right: 0;
    }
    @media (min-width: 768px) and (max-width: 1199.98px){
      top: 70px;
      right: 10%;
    }
  }
  padding: 40px 0 70px;
  &-row{
    margin: 0 !important;
    gap: 30px;
    > * {
      flex: 0 0 auto;
      width: calc(33% - 20px);
    }
    @media (max-width: 767.98px){
      column-gap: 0;
      > * {
        width: 100%;
      }
    }
    @media (min-width: 768px) and (max-width: 1199.98px){
      gap: 15px;
      > * {
        width: calc(50% - 30px);
      }
    }
  }
  select{
    @include font1;
    background: transparent url('../images/icons/dropdown-select.svg') 95%/9px no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 3px;
    border: 2px solid #8c8c8c;
    color: #5b5b5b;
    display: block;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.4;
    margin: 0;
    max-width: 100% !important;
    min-height: 44px;
    padding: 13px 25px 13px 10px;
    //width: 227px;
    width: 100%;
    option{
      color: #5b5b5b;
      &.college-and-university-partners{
        display: none;
      }
    }
  }
  #search_submit{
    padding: 15px 25px;
  }
  .single-news{
    position: relative;
    transition: all 0.4s ease;
    margin-bottom: 30px;
    padding: 0;
    border: 1px solid rgba(217, 217, 217, 0.418324) !important;
    box-shadow: 4px 2px 22px rgba(0, 0, 0, 0.0920291);
    border-radius: 4px;
    &:hover, &.active{
      .image-wrapping-hover{
        img{
          transform: scale(1.1);
        }
      }
      .body-item{
        .title{
          color: #003767;
        }
        .btn-2.arrow{
          &::after{
            animation: bounceXR 2s infinite;
          }  
        }
      }
    }
    .image-wrapping-hover{
      margin-bottom: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      z-index: 0;
      max-width: 100%;
      height: 250px;
      //height: 185px;
      width: 100%;
      background-color: $white;
      img{
        height: 100% !important;
        object-fit: cover;
        object-position: left;
        transition: all .6s cubic-bezier(.25,.8,.25,1) 0s;
        width: 100%;
        z-index: 1;
      }
    }
    .body-item{
      padding: 32px;
      span{
        display: block;
        font-stretch: normal;
        font-style: normal;
        transition: all 0.4s ease;
        &.date{
          @include font1;
          color: #003767;
          font-size: 15px;
          margin-bottom: 7px;
        }
        &.title{
          @include font2;
          color: $black;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: normal;
          line-height: 1.27;
          margin-bottom: 21px;
          text-transform: capitalize;
        }
      }
    }
  }
}