.image-carousel-block{
  background-color: transparent;
  position: relative;
  &.padding-vertical{
    padding: 85px 0 40;
  }
  .top-section{
    margin-bottom: 30px;
    h2,h3,h4,h5,h6{
      margin-bottom: 0 !important;
    }
  }
  .swiper-container-gallery{
    overflow: hidden;
    padding-bottom: 60px;
    padding: 0;
    position: relative;
    width: calc(100% + ((100vw - 1320px)/(2)));
    @media (max-width: 1399.98px){
      width: calc(100% + ((100vw - 1140px)/(2)));
    }
    @media (max-width: 991.98px){
      width: calc(100% + ((100vw - 960px)/(2)));
    }
    @media (max-width: 767.98px){
      width: 100%;
    }
    .swiper-wrapper{
      margin-bottom: 27px;
      .swiper-slide{
        overflow: hidden;
        width: auto;
        figure{
          display: block;
          position: relative;
          &::before{
            content: "";
            background-color: rgba($color: #36689D, $alpha: 0.25);
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 2;
          }
          img{
            width: 100%;
            height: 430px !important;
            object-fit: cover;
            @media (max-width: 575.98px){
              object-fit: contain;
              height: 300px !important;
            }
          }
          .text-wrap{
            display: none;
            @include font1;
            color: #4d4d4f;
            font-size: 14px;
            font-stretch: normal;
            font-style: normal;
            font-weight: normal;
            letter-spacing: 0.98px;
            line-height: 1.43;
            padding: 15px 0;
            text-align: left;
            text-transform: uppercase;
          }
        }
      }
    }
    .container-controls{
      position: relative;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-between;
      .swiper-scrollbar{
        left: 0;
        width: 100%;
        background-color: transparent;
        padding: 0 1px;
        &::after{
          content: "";
          @include center(-50%, -50%);
          background-color: #D8D8D8;
          bottom: unset;
          height: 1px;
          left: 50%;
          opacity: 0.5;
          position: absolute;
          top: 50%;
          width: 100%;
          z-index: -1;
        }
        .swiper-scrollbar-drag{
          background-color: $primary;
          height: 3px;
          border-radius: 5px;
          z-index: 5;
        }
      }
    }
  }
}